@font-face {
    font-family:'Satoshi-bold';
    src: url('../assets/fonts/Satoshi-Bold.otf');
    
  
  }
  @font-face {
    font-family:'Satoshi-regular';
    src: url('../assets/fonts/Satoshi-Regular.otf');
  
  }
  @font-face {
    font-family:'Satoshi-medium';
    src: url('../assets/fonts/Satoshi-Medium.otf');
  
  }
  @font-face {
    font-family:'Satoshi-light';
    src: url('../assets/fonts/Satoshi-Light.otf');
  
  }
  
