@font-face {
    font-family:'Raleway';
    src: local('/src/assets/Raleway-Italic-VariableFont_wght.ttf');
  
  }
  
  @font-face {
    font-family:'Raleway';
    src: local('/src/assets/Raleway-VariableFont_wght.ttf');
  
  }
  
  
  @font-face{
    font-family: 'PPMori-bold';
    src:local('/src/assets/PPMori-SemiBold.otf');
    
    
  
  }