@font-face {
    font-family:'Raleway';
    src: url('./assets/Raleway-Italic-VariableFont_wght.ttf');
  
  }
  
  @font-face {
    font-family:'Raleway';
    src: url('./assets/Raleway-Italic-VariableFont_wght.ttf');
  
  }
  
  
  @font-face{
    font-family: 'PPMori-bold';
    src:url('./assets/PPMori-SemiBold.otf');
    
    
  
  }