

.Nav{
    min-height: 100px;
    height: 100px;
    width: 100vw;
   display: block;
    align-items: center;
    float:right;
   
}

.navlist{
    list-style: none;
    margin: 40px;
    
    
    flex-grow: 1;
    
   
}