.footer{
    position: sticky;
    top:10%;
    background-color: transparent;
    height: 10%;
    min-height: 10%;
    box-sizing: border-box;

    p{
        font-family: PPmori-bold;
        font-size: larger;
        font-weight: bolder;
        color:black;
    
    }
}