.footer{
    position: sticky;
    top:90vh;
    background-color: transparent;
    height: 10vh;
    min-height: 10vh;

    p{
        font-family: PPmori-bold;
        font-size: larger;
        font-weight: bolder;
        color:black;
    
    }
}