


.over{
    p{
        font-family: 'PPMori-bold';
        font-size: 3rem;
        font-weight: bolder;
        color: #1A1423;
    }
    position: relative;
    z-index: 2;   
   
    left: 0;
    transform: translatey(calc(65%));


    
    
    
   
}



.under{
    position: relative;
    box-sizing: content-box;
    z-index: 1;
    width: calc(100vw / 2);
    left: calc(100vw / 4);
    transform: translateY(-30%);

   
    

 
    
    
}



