.herocontainer{
    display: grid;
   
    align-content: center;
    justify-content: center;
   
  
   
    

    
}



.over{
    p{
        font-family: 'PPMori-bold';
        font-size: 5rem;
        font-weight: bolder;
        color: #08090A;
    }
    display: inline;
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)


    
    
    
   
}



.under{
    display: inline-block;
    position: relative;
    z-index: 1;
    width:50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

 
    
    
}



